{% extends 'usercenter-base.html' %}
{% block title %}
    我的消息- 谷粒教育网
{% endblock %}
{% block right %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的消息</h1>
            </div>

        </div>
        <div class="personal_des permessage">
            <div class="head">
                <ul class="tab_header messagehead">
                    <li class="active"><a href="#">个人消息</a></li>
                </ul>


            </div>
            <div class="messagelist">

                {% for message in meg_page.object_list %}
                    <div class="messages">
                        <div class="fr">
                            <div class="top"><span class="fl time">{{ message.add_time }}</span><span
                                    class="fr btn foldbtn"></span></div>
                            <p {% if not message.message_status %}style="color: #ac2925" {% endif %}>
                                {{ message.message_content }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

            </div>


            <div class="pageturn pagerright">
                <ul class="pagelist">
                    {% if meg_page.has_previous %}
                        <li><a href="?page={{ meg_page.previous_page_number }}">上一页</a></li>

                    {% endif %}
                    {% for page in paginator.page_range %}
                        <li {% if page == page_num %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    {% if meg_page.has_next %}
                        <li><a href="?page={{ meg_page.next_page_number }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}

